:root {
  --bg-color: #f6f8fa;
  --muted-bg-color: #eaeef2;
  --border-color: #d0d7de;
  --txt-color: #24292f;
  --muted-txt-color: #32383f;
  --link-color: #0969da;
  --link-hover-color: #218bff;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --font-size-sm: 0.75rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;
  --line-height-tight: 1.25;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
  --container-max-width: 1200px;
  --sidebar-width: 260px;
  --content-width: calc(100% - var(--sidebar-width) - 2rem);
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --transition-fast: 150ms ease;
  --transition-base: 250ms ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1c2128;
    --muted-bg-color: #22272e;
    --border-color: #444c56;
    --txt-color: #adbac7;
    --muted-txt-color: #909dab;
    --link-color: #4184e4;
    --link-hover-color: #316dca;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid;
}

body {
  color: var(--muted-txt-color);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3 {
  color: var(--txt-color);
  line-height: 24px;
  margin: 0 0 24px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.post h2 {
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--link-hover-color);
}

h1 a,
h2 a,
h3 a,
h4 a,
a strong {
  color: var(--txt-color);
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
nav a:hover,
a:hover strong,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
nav a:focus,
a:focus strong {
  color: var(--link-color);
}

strong {
  color: var(--txt-color);
}

small {
  color: var(--muted-txt-color);
  font-size: 12px;
}

p {
  margin: 0 0 24px;
  text-align: justify;
}

html,
body {
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
}

#container {
  margin: 0 auto;
  padding: 48px 30px 0;
  position: relative;
  width: 1000px;
  overflow: auto;
}

header {
  float: left;
  position: fixed;
  width: 220px;
}

header a {
  color: var(--txt-color);
  text-decoration: none;
}
header a:hover, header a:focus {
  color: var(--link-color);
}

header h1 {
  font-size: 28px;
  line-height: 1;
  margin-top: -4px;
}

#profile-pic {
  margin: 0 0 24px;
  max-width: 168px;
}
#profile-pic img {
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 168px;
  padding: 5px;
}

section {
  width: 700px;
  float: right;
  margin: 0;
}

footer {
  float: left;
  position: fixed;
  bottom: 0;
  width: 220px;
}

nav ul {
  list-style-type: none;
  margin: 0 0 24px;
}
nav ul li {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
}
nav ul li a {
  font-weight: bold;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: var(--txt-color);
}

pre {
  background: var(--muted-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--txt-color);
  font-size: 12px;
  line-height: 24px;
  margin: 0 0 24px;
  overflow-x: auto;
  padding: 10px 20px;
}

blockquote {
  background: var(--muted-bg-color);
  border-left: 4px solid var(--border-color);
  border-right: 20px solid var(--muted-bg-color);
  border-radius: 0 7.9992px 7.9992px 0;
  margin: 0 -20px 24px;
  padding: 12px 0 12px 16px;
}
blockquote p {
  color: var(--txt-color);
}
blockquote p:last-child {
  margin: 0;
}

table {
  border-top: 1px solid var(--border-color);
  border-collapse: collapse;
  margin: 0 0 24px;
  width: 100%;
}

thead {
  background: var(--muted-bg-color);
}

tr {
  border-bottom: 1px solid var(--border-color);
  vertical-align: top;
}

th {
  padding: 11px 12px;
  text-align: left;
}

td {
  padding: 11px 12px 12px;
  text-align: left;
}

dl,
ol,
ul {
  margin: 0 0 24px 20px;
  text-align: justify;
}

li ul,
li ol {
  margin: 0 0 24px 20px;
}

dl {
  margin: 0 0 24px;
}

dt {
  clear: left;
  color: var(--txt-color);
  float: left;
  width: 120px;
}

dd {
  clear: right;
  margin: 0 0 12px 140px;
}
dd::after {
  content: "";
  clear: both;
  display: table;
}

dt p,
dd p {
  text-align: left;
}

figure {
  height: auto;
  margin: 0 auto 24px;
  max-width: 100%;
}

figcaption {
  font-size: 12px;
  line-height: 1.5;
  max-width: 100%;
}

iframe,
img {
  border: none;
  display: block;
  max-width: 100%;
  height: auto;
}

img.badge {
  display: inline;
  height: 16px;
}

.figure-sm {
  max-width: 350px;
}

.figure-md {
  max-width: 500px;
}

.iframe-16-9 {
  aspect-ratio: 16/9;
}

hr {
  border: 0;
  background: var(--muted-bg-color);
  height: 1px;
  margin: 23px 0 24px;
}

.bullet-icon {
  color: var(--txt-color);
  margin-right: 0.25em;
  text-indent: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  margin: 0 20px 0 0;
  width: 50%;
}

.text-muted {
  color: var(--muted-txt-color);
}

.text-normal {
  color: var(--txt-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-sm {
  margin-top: var(--space-sm);
}

.mt-md {
  margin-top: var(--space-md);
}

.mt-lg {
  margin-top: var(--space-lg);
}

.mt-xl {
  margin-top: var(--space-xl);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-sm {
  margin-bottom: var(--space-sm);
}

.mb-md {
  margin-bottom: var(--space-md);
}

.mb-lg {
  margin-bottom: var(--space-lg);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.ml-0 {
  margin-left: 0;
}

.ml-sm {
  margin-left: var(--space-sm);
}

.ml-md {
  margin-left: var(--space-md);
}

.ml-lg {
  margin-left: var(--space-lg);
}

.ml-xl {
  margin-left: var(--space-xl);
}

.mr-0 {
  margin-right: 0;
}

.mr-sm {
  margin-right: var(--space-sm);
}

.mr-md {
  margin-right: var(--space-md);
}

.mr-lg {
  margin-right: var(--space-lg);
}

.mr-xl {
  margin-right: var(--space-xl);
}

@media print, screen and (max-width: 960px) {
  body {
    width: auto;
    min-width: 320px;
  }
  #container {
    width: auto;
    min-width: 300px;
  }
  header,
  section,
  footer {
    float: none;
    position: static;
    padding: 0;
  }
  section {
    border: 1px solid var(--border-color);
    border-width: 1px 0;
    margin: 0;
    padding: 24px 0 0;
    width: auto;
    min-width: 300px;
  }
  footer {
    margin: 24px 0 0;
    overflow: auto;
  }
}
.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #000000;
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  color: #000000;
  font-weight: bold;
}

.highlight .kd {
  color: #000000;
  font-weight: bold;
}

.highlight .kn {
  color: #000000;
  font-weight: bold;
}

.highlight .kp {
  color: #000000;
  font-weight: bold;
}

.highlight .kr {
  color: #000000;
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .il {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #d14;
}

.highlight .s2 {
  color: #d14;
}

.highlight .se {
  color: #d14;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #d14;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .bp {
  color: #999999;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nl {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: #000080;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #000000;
  font-weight: bold;
}

.highlight .o {
  color: #000000;
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight {
  background-color: var(--muted-bg-color);
}

/*# sourceMappingURL=style.css.map */